{% extends 'base.html' %}

{% load staticfiles %}

{% block breadcrumb %}
  <li>
    <a href="{% url 'emp-list' %}">Operadores</a>
  </li>
  <li class="active">
    <a href="#">Actualizar</a>
  </li>
{% endblock %}

{% block css %}
    <link href="{% static "payment/css/plugins/chosen/chosen.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<div class="col-lg-12">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <h5>Actualizar Operador</h5>
	        </div>
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger" style="width:50%;">
                      <b>ERROR: </b>{{ error|escape }} - {{ field.name|escape }}
                    </div>
                  {% endfor %}
              {% endfor %}
          {% endif %}
	        <div class="ibox-content">
	            <form class="form-horizontal" method="post" action="{% url 'emp-update' emp.id %}">
	            	{% csrf_token %}
	                <div class="form-group"><label class="col-lg-2 control-label">Razón social:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="150" placeholder="Razón social" name="nombreRazonSocial" id="id_nombreRazonSocial" class="form-control" required value="{{ emp.nombreRazonSocial }}">
	                    </div>
	                </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Tipo de documento:</label>
                    <div class="col-lg-10">
                        <select data-placeholder="Tipo de documento" class="chosen-select" style="width:300px;" tabindex="2" name="tipoDocumento" id="id_tipoDocumento" required>
                          <option value="">Selecciona</option>
                          <option value="NI" {% if emp.tipoDocumento == 'NI' %} selected {% endif %}>NIT</option>
                          <option value="CC" {% if emp.tipoDocumento == 'CC' %} selected {% endif %}>CEDULA CIUDADANIA</option>
                          <option value="CE" {% if emp.tipoDocumento == 'CE' %} selected {% endif %}>CEDULA EXTRANJERIA</option>
                          <option value="PA" {% if emp.tipoDocumento == 'PA' %} selected {% endif %}>PASAPORTE</option>
                          <option value="CD" {% if emp.tipoDocumento == 'CD' %} selected {% endif %}>CARNE DIPLOMATICO</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Número de Documento:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="16" placeholder="Número de documento" class="form-control" name="numeroDocumento" id="id_numeroDocumento" required value="{{ emp.numeroDocumento }}">
	                    </div>
	                </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Clase de pagador:</label>
                    <div class="col-lg-10">
                        <select data-placeholder="Clase de pagador" class="chosen-select" style="width:300px;" tabindex="2" name="clasePagadorPensiones" id="id_clasePagadorPensiones" required>
                          <option value="">Selecciona</option>
                          <option value="A" {% if emp.clasePagadorPensiones == 'A' %} selected {% endif %}>PAGADOR CON MAS DE 200 PENSIONADOS</option>
                          <option value="B" {% if emp.clasePagadorPensiones == 'B' %} selected {% endif %}>PAGADOR CON MENOS DE 200 PENSIONADOS</option>
                          <option value="I" {% if emp.clasePagadorPensiones == 'I' %} selected {% endif %}>INDEPENDIENTE</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Naturaleza jurídica:</label>
                    <div class="col-lg-10">
                        <select data-placeholder="Naturaleza jurídica" class="chosen-select" style="width:300px;" tabindex="2" name="naturalezaJuridica" id="id_naturalezaJuridica" required>
                          <option value="">Selecciona</option>
                          <option value="1" {% if emp.naturalezaJuridica == '1' %} selected {% endif %}>PUBLICA</option>
                          <option value="2" {% if emp.naturalezaJuridica == '2' %} selected {% endif %}>PRIVADA</option>
                          <option value="3" {% if emp.naturalezaJuridica == '3' %} selected {% endif %}>MIXTA</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Tipo de persona:</label>
                    <div class="col-lg-10">
                        <select data-placeholder="Tipo de persona" class="chosen-select" style="width:300px;" tabindex="2" name="tipoPersona" id="id_tipoPersona" required>
                          <option value="">Selecciona</option>
                          <option value="N" {% if emp.tipoPersona == 'N' %} selected {% endif %}>NATURAL</option>
                          <option value="J" {% if emp.tipoPersona == 'J' %} selected {% endif %}>JURIDICA</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Dirección:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="40" placeholder="Dirección" name="direccion" class="form-control" id="id_direccion" required value="{{ emp.direccion }}">
	                    </div>
	                </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Ciudad:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="30" placeholder="Ciudad" name="ciudadMunicipio" class="form-control" id="id_ciudadMunicipio" required value="{{ emp.ciudadMunicipio }}">
	                    </div>
	                </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Departamento:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="30" placeholder="Departamento" name="departamento" class="form-control" id="id_departamento" required value="{{ emp.departamento }}">
	                    </div>
	                </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Teléfono:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="15" placeholder="Teléfono" name="telefono" class="form-control" id="id_telefono" required value="{{ emp.telefono }}">
	                    </div>
	                </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Correo:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="60" placeholder="Correo" name="correo" class="form-control" id="id_correo" required value="{{ emp.correo }}">
	                    </div>
	                </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Tipo de pagador:</label>
                    <div class="col-lg-10">
                        <select data-placeholder="Tipo de pagador" class="chosen-select" style="width:300px;" tabindex="2" name="tipoPagadorPensiones" id="id_tipoPagadorPensiones" required>
                          <option value="">Selecciona</option>
                          <option value="1" {% if emp.tipoPagadorPensiones == '1' %} selected {% endif %}>EMPLEADOR</option>
                          <option value="2" {% if emp.tipoPagadorPensiones == '2' %} selected {% endif %}>ADMINISTRADORA PENSIONES</option>
                          <option value="3" {% if emp.tipoPagadorPensiones == '3' %} selected {% endif %}>PAGADOR PENSIONES</option>
                          <option value="4" {% if emp.tipoPagadorPensiones == '4' %} selected {% endif %}>PENSIONES REGIMEN ESPECIAL</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-lg-2 control-label">Actividad económica:</label>
	                    <div class="col-lg-10">
	                    	<input type="text" max_length="4" placeholder="Actividad económica" name="actividadEconomica" class="form-control" id="id_actividadEconomica" required value="{{ emp.actividadEconomica }}">
	                    </div>
	                </div>
                  <div class="form-group">
	                    <div class="col-lg-offset-2 col-lg-10">
	                        <div class="i-checks"><label><input type="checkbox" name="active" id="is_active" {% if emp.active %}checked{% endif %}><i></i> Activo </label></div>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <div class="col-lg-offset-2 col-lg-10">
	                        <button class="btn btn-sm btn-white" type="submit" id="emp_update">Actualizar</button>
	                    </div>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
{% endblock %}

{% block js %}
<script src="{% static "payment/js/plugins/chosen/chosen.jquery.js" %}"></script>
<script>
  var config = {
          '.chosen-select'           : {},
          '.chosen-select-deselect'  : {allow_single_deselect:true},
          '.chosen-select-no-single' : {disable_search_threshold:10},
          '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
          '.chosen-select-width'     : {width:"95%"}
          }
      for (var selector in config) {
          $(selector).chosen(config[selector]);
      }
</script>
{% endblock %}
