{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    <link href="{% static "payment/css/plugins/dataTables/datatables.min.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Artistas Más Escuchados</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                            <tr>
                                <th>Artista</th>
                                <th>Cantidad de Reproducciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Artista</th>
                                <th>Cantidad de Reproducciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static "payment/js/plugins/dataTables/datatables.min.js" %}"></script>
<script>
  $('.dataTables-example').DataTable({});
</script>
{% endblock %}
