{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>PaymentServices</title>
  <link rel="stylesheet" href="{%  static "payment/login/estilosp_login.css" %}">
  <link rel="stylesheet" href="{%  static "payment/css/animate_login.css" %}">
  <script src="{%  static "payment/login/prefixfree.min.js" %}"></script>
<link rel="stylesheet" href="{%  static "payment/login/bootstrap.min.css" %}">
</head>

<body>
  <div class="body"></div>
  <div class="container">
    <div class="row">
       <div class="grad"></div>
        <form class="m-t" role="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="header login col-md-4 space-top col-md-offset-4 animated fadeIn">
            <div>Transacciones, <br><span> pagos virtuales</span><br>
            <input type="text" placeholder="Usuario" name="username"><br>
            <input type="password" placeholder="Contraseña" name="password"><br>
            <input type="submit" value="Ingresar">
            </div>
        </div>
        </form>
    </div>
  </div>
  <script src="{%  static "payment/login/jquery.min.js" %}"></script>
</body>
</html>
