{% extends 'base.html' %}

{% load staticfiles %}

{% block breadcrumb %}
  <li>
    <a href="{% url 'pag-list' %}">Pago de Aportes</a>
  </li>
  <li class="active">
    <a href="#">Realizar</a>
  </li>
{% endblock %}

{% block css %}
    <link href="{% static "payment/css/plugins/chosen/chosen.css" %}" rel="stylesheet">
    <link href="{% static "payment/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<div class="col-lg-12">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <h5>Realizar Pago de Aportes</h5>
	        </div>
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger" style="width:50%;">
                      <b>ERROR: </b>{{ error|escape }} - {{ field.name|escape }}
                    </div>
                  {% endfor %}
              {% endfor %}
          {% endif %}
	        <div class="ibox-content">
              {% if mensaje %}
                    <div class="alert alert-danger">
                        {{ mensaje }}
                    </div>
              {% endif %}
	            <form class="form-horizontal" method="post" action="{% url 'pag-create' %}">
	            	{% csrf_token %}
                <div class="form-group"><label class="col-lg-2 control-label">Pensionado:</label>
                  <div class="col-lg-10">
                      <select data-placeholder="Empresa Empleadora" class="chosen-select" style="width:300px;" tabindex="2" name="pensionado" id="id_pensionado" required>
                        <option value="0">Selecciona</option>
                        {% for pen in pen_list %}
                        <option value="{{ pen.id }}">{{ pen }}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Tipo:</label>
                  <div class="col-lg-10">
                      <select data-placeholder="Tipo" class="chosen-select" style="width:300px;" tabindex="2" name="tipo" id="id_tipo" required>
                        <option value="0">Selecciona</option>
                        <option value="01">SALUD</option>
                        <option value="02">PENSION</option>
                        <option value="03">RIESGOS LABORALES</option>
                      </select>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Período:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-mask="9999-99" placeholder="" name="periodoPago" id="id_periodoPago">
                        <span class="help-block">AAAA-MM</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Monto ($):</label>
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" placeholder="" name="monto" id="id_monto">
                        <input type="text" disabled class="form-control" placeholder="" name="monto_v" id="id_monto_v">
                    </div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Banco:</label>
                  <div class="col-lg-10">
                      <select data-placeholder="Tipo" class="chosen-select" style="width:300px;" tabindex="2" name="banco" id="id_banco" required>
                        <option value="">Selecciona</option>
                        {% for bnc in bancos %}
                        <option value="{{ bnc.id }}">{{ bnc.nombre }}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-sm btn-white" type="button" id="pag_liquidar">Liquidar</button>
                        <button class="btn btn-sm btn-white" type="submit" id="pag_create">Pagar</button>
                    </div>
                </div>
	            </form>
	        </div>
	    </div>
	</div>
{% endblock %}

{% block js %}
<script src="{% static "payment/js/plugins/chosen/chosen.jquery.js" %}"></script>
<!-- Input Mask-->
 <script src="{% static "payment/js/plugins/jasny/jasny-bootstrap.min.js" %}"></script>
 <script src="{% static "payment/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
<script>
  $('#data_1 .input-group.date').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true,
      format: 'yyyy-mm-dd'
  });
  $('#data_2 .input-group.date').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true,
      format: 'yyyy-mm-dd'
  });
  var config = {
          '.chosen-select'           : {},
          '.chosen-select-deselect'  : {allow_single_deselect:true},
          '.chosen-select-no-single' : {disable_search_threshold:10},
          '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
          '.chosen-select-width'     : {width:"95%"}
          }
      for (var selector in config) {
          $(selector).chosen(config[selector]);
      }

   $('#pag_liquidar').on('click', function() {
     var pensionado_id = $('#id_pensionado').val();
     var tipo_id = $('#id_tipo').val();

     if(pensionado_id == "0" || tipo_id == "0") {
         alert('Debe seleccionar el pensionado y el tipo de aporte.');
     }
     else {
       $.get("/pag-calculate/?pen="+pensionado_id+"&tipo="+tipo_id, function( data ) {
          $('#id_monto').val(data);
          $('#id_monto_v').val(data);
       });
     }
   });
</script>
{% endblock %}
