language: python
python:
- 3.5.2
install: pip install -r requirements.txt
script: nosetests
deploy:
  provider: heroku
  api_key:
    secure: CZlhMkrHx1S1rJ80PgUiuC2dwMatM8pL+otMO2OZenFU8ock0I0CBye7YFbUUxWLXG+58v248s3IdrN2E0Jr9aqtzNo/uh6n6dtLxexyXxx2T5GwO5olapT4nTYSC2TDhim35TvC2EybTo30n4V7Nlix3ao/rs7eo1OvX9CbmG1xVj0N8mUVyHn8EZER2wQxMAIRXi1rqwyMhOFGwbYCcEYdKlrkmE+d5SjHnD9MAj/UwnfdNRQsINlpBh9FHDjCZxQj3ZOXMMX3pGB0Mb58IxxtkZNsYBKAd/TAU4YqFNcbmWInf6aRBYF3D47CqzXuDC21n5HAawH3MM6pTO6PkEpEz1zcStQw00YYeQXbqDGfRmk60f/VoKCvqtJO3/iT8NVORG7sLmn01CC9Qjl1S4/raX1hL0C8xmvEjaR/GKQMbBXBLMg53UIfMVcA7TQyLoevB/Kqhi3uqlwQoulFvPMSl/bA9b5FEyGFuxLcLM0VyUx9awM/blHThNV27OBlUJULS6b3NH7OoKx1BganvPyVMJvd4voPqSUzeLbOPK9L+Dz++PoK2oMHDFz8EkqbaRe6YnSTunr+0viIBrvlber3f3OOIsLIvWWaGUsh6YFKM2nL/IvBFGCquuwRHZpT9E8dzMatPoJk19RurJnOgwnRDcXxVEjaUiSIPIRPWSg=
  app: PaymentService
  on:
    repo: f-arruza/PaymentService
  run:
    - "python manage.py collectstatic --no-input"
